@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #f9faf2;
  --foreground: #1a1c18;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
}
